In [10]:
import pandas as pd
import selenium
from selenium import webdriver

# Question 1

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title,
job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

In [4]:
#Specifying the url of the webpage
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [11]:
#Lets open the webpage through our web driver
driver.get(url)

In [6]:
#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [7]:
#Jobs_Title of first 10 jobs data on the website
for page in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

#Experience_Required of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
        Experience_Required.append(l.text)

In [8]:
#Jobs_Title of first 10 jobs       
Jobs_Title=Jobs_Title[0:10]

#Job_Location of first 10 jobs
Job_Location=Job_Location[0:10]

#Company_Name of first 10 jobs
Company_Name=Company_Name[0:10]

#Experience_Required of first 10 jobs
Experience_Required=Experience_Required[0:10]

In [9]:
#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Experience_Required :', len(Experience_Required))

Lenght of Jobs_Title : 10
Lenght of Job_Location : 10
Lenght of Company_Name : 10
Lenght of Experience_Required : 10

(None, None)

In [10]:
import pandas as pd
Data_Analyst=pd.DataFrame({})
Data_Analyst['Job Title']=Jobs_Title
Data_Analyst['Job Location']=Job_Location
Data_Analyst['Company Name']=Company_Name
Data_Analyst['Experience Required']=Experience_Required
Data_Analyst

,Job Title,Job Location,Company Name,Experience Required
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
4,Security Data Analyst,Bengaluru,Philips India Limited,2-4 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,5-9 Yrs
6,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
7,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
8,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs
9,NiFi Data Analyst,Bengaluru,Capgemini Technology Services India Limited,4-6 Yrs

# Question 2

Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [26]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

In [27]:
#Specifying the url of the webpage
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Job_Description=[]


#Jobs_Title of first 10 jobs data on the website
for page in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

In [28]:
hre=[]
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in urls:
    h=i.get_attribute('href')
    hre.append(h)
des=[]
for a in hre:
    driver.get(a)
    xt=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")    
    for j in xt:
        tt=j.text
        Job_Description.append(tt)    
Job_Description

['Data Scientist - Data Mining/ Machine Learning/ Statistical Analysis\n\nRequirements :\n\n- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.\n\n- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Matlab, Python, etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 "Job Description :\n- We are looking for a researcher who specializes in building personalization/recommender systems algorithm (ML APIs) for the applications mentioned above and work with our engineers to deploy them as scale.\nWhat you will do :\n- Apply your research expertise to build our ML-driven recommender system products, help us develop new solutions and unlock new directions, as well as analyse and optimise the systems we already. \n- You'll work closely with product teams and mentor them on best practices for modern ML, and keep the wider team informed on the state-of-the-art. In addition, you will be in a strategic position to influence future roadmaps for recommender system products.\n- Collaborate with a cross-functional agile team spanning user research, design, data science, product management, and engineering to build new product features that advance our mission to connect artists and fans in personalized and relevant ways.\n- Prototype new approaches and production-ize solutions at scale for our hundreds of thousands of active users. Help drive optimization, testing, and tools to improve quality.\nRequirements :\n- Master, Post-graduate or Ph.D. in computer science, machine learning, information retrieval, recommendation systems, natural language processing, statistics, math, engineering, operations research, or another quantitative discipline; or equivalent work experience.\n- Good theoretical grounding in core machine learning concepts and techniques.\n- Ability to perform comprehensive literature reviews and provide critical feedback on state-of-the-art solutions and how they may fit different operating constraints.\n- Experience with a number of ML techniques and frameworks, e.g. Natural Language Processing, Recommender Systems, sampling, linear regression, decision trees, SVMs, deep neural networks, etc.\n- Familiarity with one or more Deep learning software frameworks such as Tensorflow, PyTorch.",
 'Working experience in Artificial Intelligence, Python, R, Machine Learning\nExperience in data mining, Strong math skills (e.g. statistics, algebra)\nStrong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift\nExperience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20\nStrong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc)\nExperience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms\nExperienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)\nExperience in neural networks, regression, classification and clustering\nDeep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing\nDeep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc.\nTo help designing, innovating and building our next generation ML architecture\nFull time programming experience within an operation or technical department.\nIdentify valuable data sources and automate collection processes\nUndertake pre-processing of structured and unstructured data\nAnalyze large amounts of information to discover trends and patterns\nBuild predictive models and machine-learning algorithms\nCombine models through ensemble modelling\nPresent information using data visualization techniques\nPropose solutions and strategies to business challenges\nCollaborate with engineering and product development teams\nMentor others in the use of AI/Machine Learning',
 'Key Responsibilities\nBe responsible for scaling our analytics capability across all internal disciplines and guide our strategic direction in regards to analytics\nOrganize and analyze large, diverse data sets across multiple platforms\nIdentify key insights and leverage them to inform and influence product strategy\nTechnical Interactions with vendor or partners in technical capacity for scope/ approach & deliverable.\nDevelops proof of concept to prove or disprove validity of concept\nWorking with all parts of the business to identify analytical requirements and formalize an approach for reliable, relevant, accurate, efficient reporting on those requirements\nDesigning and implementing advanced statistical testing for customized problem solving\nDeliver concise verbal and written explanations of analyses to senior management that elevate findings into strategic recommendations.\n\nDesired Candidate Profile\n\nQualifications:MTech / BE / BTech / MSc in CS or Stats or Maths, Operation Research, Statistics, Econometrics or in any quantitative fieldExperience:3+ Years experience in analytical domain\n\nFunctional Competencies:\nExcellent analytics, logical, problem solving and numerical skills\nExperience in using Python\nExperience in working with large data sets and big data systems (SQL, Hadoop, Hive, etc.)\nKeen aptitude for large-scale data analysis with a passion for identifying key insights from data\nExpert working knowledge in various machine learning algorithms such XGBoost, SVM Etc.,\nExpertise in Data Mining, Statistical Analysis, Regression, Logistics Regression, Segmentation, Time Series Forecasting, Market Basket Analysis, Decision Tree, CHAID, Test Mining, Hypothesis Testing, A/B Testing and Modeling\nPreferable to have\nExperience in Credit risk analytics, Fraud analytics\nExperience in Collections analytics, NPA\nAnalytical experience in Vehicle lending business (Two wheeler, Tractor, Car, Commercial) and unsecured loans.\nCustomer Acquisition',
 'Roles and Responsibilities\nSkill : NLP,Semantic model, NER model, Deep Learning\n\nNotice : who can join in a month max\n\nJob description :\n\n- 5+ years of experience using analytical toolslanguages like Python & R on large scale data\n\n- Must have Semantic model & NER experience\n\n- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases\n\n- Experience on Deep Learning for Image processing, Video analytics will be a plus\n\n- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.\n\n- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains\n\n- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.\n\n- Must have experience in doing POCs\n\n- Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models\n\n- Ability to guide and mentor teams of associates on solution development and approaches\n\n- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning\n\n- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++\n\n- Expert high level of understanding on language semantic concepts & data standardization\n\n- Proven track record of successful models and practical implementation\n\n- Hands-on experience with popular ML frameworks such as TensorFlow\n\n- Experience with application development practices at scale, from problem definition to deployment.\n\n- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus\n\n- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications\n\n- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domain',
 'Roles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com',
 "We are hiring Data Scientist and Senior Data Scientist Academic Operations for our leading EdTech Client.\n\nCall/WhatsApp- Amit-9379292728\nEmail: amitkumar.s@randstad.in\n\nor Fill the google form - https://tinyurl.com/JobAppForm4\n\nJob Responsibilities:\nYour primary job responsibility will include (and not limited to):\nOwn the student's learning outcomes by providing them with support on the topics covered in the\ncurriculum.\nInvolve in the residency class room sessions to facilitate lectures and lab sessions\nBe the first point contact for participants for academic queries and manage discussion\ngroups\nMonitor participants academic performance and make learning interventions in the\nform of remedial sessions, coaching and mentoring\n\nCoordinate with faculty to create best in class learning material - video, reading material,\nassignments, exams\nDesign and conduct examinations to measure the learning outcome of participants\nIdentify & Solve interesting problems involving rich datasets in various domains.\nAccordingly, create capstone projects on the evolving use cases in the industry\nIdentify key emerging trends in the industry and maintain a rich reference material\nAssist program director and senior operations and academics managers in planning\non-campus sessions, preparing schedules, evaluation and grading\nIdentify key reporting metric sand create dashboards to enable quick decision making\nAutomation of manual data collection, data cleansing and exploratory data analysis\nCreate and maintain business and technical requirements\nIdentify technical solutions and perform feasibility analysis\nCreate technical roadmaps for the operations Team\nManage, identify and suggest processes for smoother program management to\nensure a consistent and trouble free learning experience\nCoordinate with IT and Admin to ensure smooth execution at various locations\nTravel to other cities if required to manage residencies\n\nRelevant Background:\nGraduate with an exceptional academic track record\nCompetency: (Top 3)\n1. Passion for learning and having great learning outcomes\n2. Ability to multitask and coordinate with multiple stakeholders\n3. Excellent knowledge in python, tableau and ML concepts",
 'Role Description:\nA Sr. Data Scientist who lead the development of analytics / machine learning / AI models for generating future prediction using data.\nResponsibilities : - Understanding the project requirement\n- Understand if there is any already existing ML model\n- Leading analytics project & provide necessary guidance to the team\n- Understand the data & doing EDA\n- Feature engineering - Building Data Science models\n- Validate & Piloting ML models\n- Model tuning & improvement\nRequired Skills:\n- Sound theoretical knowledge in ML algorithm and their application\n- Strong fundamental on statistics\n- Experience in leading multiple data science projects\n- Hands on experience on Machine learning / data science\n- Strong stakeholder management skills\n- Expert in Python - Hand on experience in SPARK Scala or PySpark\nAdded Advantage:\n- Hands on experience in Azure data bricks\n- Working experience in CPG domain\nSkills Required:\nDATA ANALYSIS, Machine learning, Python, Databricks',
 'DATA SCIENTIST / MACHINE LEARNING EXPERT\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nExcellent understanding of Machine learning techniques and algorithms\nETL Knowledge (data cleansing)\nData Visualization\nExpereience in BI poject\nExperience in Agile/ SCRUM projects\nExperience in supply chain is an added advantage\nKey Technical Requirements\nR / Mathlab / Octave\nNoSQL database such as MongoDB, DocumentDB, CosmosDB, etc\nGit\nJavaScript, Angular 2/4, Node JS\nAzure and AWS',
 'Roles and Responsibilities\n- Machine Learning techniques (recommendation engines, ensemble models such as random forests, bagging and boosting, support vector machines, dynamic optimization etc.)\n\n- Design and build systems that mine massive datasets and structure/ engineer it to be usable for machine learning models\n\n- Explore and suggest AI based solutions such as Convolutional Neural Networks\n\nWe are looking for talented individuals to join our team - people with an empiricist attitude towards data, with mathematical intuition, curiosity, a positive outlook and who have worked on real data problems.\n\n- 2+ yrs of experience as Data Scientist\n\n- Strong programming skills with at least one scripting language (e.g. R, Python). Conversant with advanced deep learning techniques such as LSTM. CNN, Dense neural networks as well as neural networks design and implementation through tools like tensorflow, keras, pytorch, deepai or equivalent.\n\n- Should have at-least 1 end-to-end ML project experience. Starting from organizing and munging data, prototyping algorithms in scripting languages to deploying a solution in a stable platform\n\n- Experience in working with packages such as - Generalized linear models (Lasso, Ridge, Logit), Recommendation engines (SVD, ALS, Boltzmann machine in platforms such as Mahout), Neural Networks (nnets, tensorflow),Optimization (heuristic models), Visualization techniques (t-sne, ggplot, matplotlib, shiny, D3js).\n\n- Exposure to massive data storage architectures - Map-Reduce/ Columnar Databases/ NoSQL/ RDD-Spark',
 'Mailkit is an European Marketing Automation company in search of a Data Scientist with knowledge in Python and Machine Learning to join our R&D team. Applicants should have knowledge of algorithms, statistical analysis, data mining / text mining with / NLP / NLTK , Text analytics, etc.\n\nKeeping in mind the current pandemic threat, we are offering remote job facility as well, that means selected candidate can work from his/her home comfort. But preference will be given to candidates who are willing to work from our office location in Kolkata. He or She should have minimum 3 years of experience in the said technology. Interested candidates should be able to present a good project portfolio. Developer(s) should be able to tactfully resolve complex issues and implement new things by himself or herself. Applicants should be able to speak and write good English.\n\nRoles and Responsibilities\nKnowledge in deep learning algorithms and AI system design and architecture.\nExcellent understanding of complex system architecture, components and requirements\nInnovative and creative, logical thinker,.\nAdvanced level proficiency in Python programming\nBe able to read, write and speak good English\n\nResponsibilities\nResponsible for machine learning technology and application analysis, understand the latest industrial and academic developments in AI/ML\nStudy and innovate in Deep Learning/machine learning and its application in diverse domains\nDesign competitive AI/ML services and user experience.\nWork with the team to integrate these algorithms into larger solutions.\nPerks and Benefits\nCandidates might get the opportunity to work from home.\nSaturdays and Sundays, fixed weekend offs.\nemployees get 6 sick leaves, 18 casual leaves and 14 calendar holidays every year.\non time salary, usually last working day of every month.',
 'Introduction\nThe Data Scientist actively participates on multi-functional project teams developing analytics enabled solutions, owning and leading the work done. Recommends and implements analytics enabled solutions to improve business process, to generate insights, to support business goals and strategy development. They would also own and deliver complete projects of moderate scope\n\n\nYour Role and Responsibilities\nAs a Data Scientist, you recommend and implements analytics enabled solutions to improve business process, to generate insights, to support business goals and strategy development\nRecommends and implements analytics enabled solutions to improve business process, to generate insights, support business goals and strategy development\nExplore and validate client data for the specific Analytics requirements.\nAnalyze client data of noisy, missing data or incomplete data.\nWrite ETL modules to ingest client data into the Analytics DB.\nDesign test cases for the Analytics modules.\nDevelop Analytics modules, for the specific client implementation.\nImplement changes or new components into the Analytics modules.\nProduction integration and end to end testing.\n\n\nRequired Technical and Professional Expertise\nMinimum 6-8 years of experience in programming, statistics, machine learning, data visualization, exploratory data analysis, model production, insight generation and data wrangling\nMasters Degree in Computer Science, Statistics, Applied Math or meaningful field\nExperience building AI models (ML, NLP, Neural Networks)\nExperience in using containerized workloads and services such as Kubernetes, Docker, etc.\nExperience in Cloud Architecture (AWS, Azure, IBM)\nExpertise with R, SQL and Python; familiarity with Scala, Java or C# is an asset\nAgent based modeling and simulation & conversational skills for ChatBots\nKnowledge of Agent Development Frameworks (e.g. SPADE, JADE, etc), Knowledge Graphs and Ontologies.\n\n\n\nPreferred Technical and Professional Expertise\nAbility to take care of highly personal and confidential information\nExperience in understanding and executing business controls\nProven analytical and problem solving skills\nAmbitious individual who can work under their own direction towards agreed targets/goals.\nAbility to manage change and be open to it good time management and an ability to work under stress\nProven interpersonal skills while contributing to team effort by accomplishing related results as needed\nMaintain technical knowledge by attending educational workshops, reviewing publications.',

In [29]:
#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Job_Description :', len(Job_Description))

Lenght of Jobs_Title : 20
Lenght of Job_Location : 20
Lenght of Company_Name : 20
Lenght of Job_Description : 15

(None, None)

In [30]:
#Jobs_Title of first 10 jobs       
Jobs_Title=Jobs_Title[0:10]

#Job_Location of first 10 jobs
Job_Location=Job_Location[0:10]

#Company_Name of first 10 jobs
Company_Name=Company_Name[0:10]

#Job_Description of first 10 jobs
Job_Description=Job_Description[0:10]

In [31]:
Data_Scientist=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, Job_Description)
Data_Scientist['Job Title']=Jobs_Title
Data_Scientist['Job Location']=Job_Location
Data_Scientist['Company Name']=Company_Name
Data_Scientist['Job Description']=Job_Description
Data_Scientist

,Job Title,Job Location,Company Name,Job Description
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd,Data Scientist - Data Mining/ Machine Learning...
1,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,Roles and Responsibilities\nRequirements :\n\n...
2,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Job Description :\n- We are looking for a rese...
3,Principal Data Scientist - Machine/Deep Learni...,Bengaluru,Fidius advisory,"Working experience in Artificial Intelligence,..."
4,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru",Atos Syntel Private Limited,Key Responsibilities\nBe responsible for scali...
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,"Roles and Responsibilities\nSkill : NLP,Semant..."
6,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,Roles and Responsibilities\n\nMust have strong...
7,Senior / Lead Data Scientist,"Chennai, Pune, Bengaluru",TVS CREDIT SERVICES LIMITED,We are hiring Data Scientist and Senior Data S...
8,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Role Description:\nA Sr. Data Scientist who le...
9,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,DATA SCIENTIST / MACHINE LEARNING EXPERT\nGood...

# Question 3

Scraping data using the filters available on the webpage https://www.naukri.com/ as shown & scraping the job-title, 
job-location, company_name, experience_required

In [32]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Jobs_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]


#Jobs_Title of first 10 jobs data on the website
for page in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        Jobs_Title.append(i.text)

#Job_Location of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"):
        Job_Location.append(j.text)

#Company_Name of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        Company_Name.append(k.text)

#Experience_Required of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
        Experience_Required.append(l.text)

In [33]:
#Length of the lists
print('Lenght of Jobs_Title :', len(Jobs_Title)), print('Lenght of Job_Location :', len(Job_Location)),
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Experience_Required :', len(Experience_Required))

Lenght of Jobs_Title : 20
Lenght of Job_Location : 20
Lenght of Company_Name : 20
Lenght of Experience_Required : 20

(None, None)

In [34]:
#Scraping first ten elements only       
Jobs_Title=Jobs_Title[0:10]
Job_Location=Job_Location[0:10]
Company_Name=Company_Name[0:10]
Experience_Required=Experience_Required[0:10]

In [35]:
# putting all this into a data frame
Data_Scientists=pd.DataFrame({})
Data_Scientists['Job Title']=Jobs_Title
Data_Scientists['Job Location']=Job_Location
Data_Scientists['Company Name']=Company_Name
Data_Scientists['Experience Required']=Experience_Required
Data_Scientists

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",Country Veggie,1-3 Yrs
1,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,4-8 Yrs
2,Senior Data Scientist - Computer Vision,Delhi NCR,IRIS SOFTWARE Inc,4-9 Yrs
3,Data Scientist - Machine Learning/ NLP,Gurgaon Gurugram,TalPro,2-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Noida, Gurgaon",GABA Consultancy services,0-0 Yrs
5,Data Scientist,Gurgaon Gurugram,Ciena,5-6 Yrs
6,Data Scientist - Tableau/Power BI,Delhi,Talent Stock Solutions,1-3 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
8,Data Scientist - IT,Gurgaon,Ehireo,4-9 Yrs
9,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs

# Question 4

Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to 
scrape company_name, No. of days ago when job was posted, Rating of the company.

In [35]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Company_Name=[]
Jobs_Title=[]
Job_Posted=[]
Company_Rating=[]


#Company name of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span"):
        Company_Name.append(i.text)

#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for j in driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']/span"):
        Jobs_Title.append(j.text)

#Job Posted of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
        Job_Posted.append(k.text)

#Company rating of first 10 jobs data on the website
    for l in driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']"):
        Company_Rating.append(l.text)

In [36]:
#Length of the lists
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Jobs_Title :', len(Jobs_Title)),
print('Lenght of Job_Posted :', len(Job_Posted)), print('Lenght of Company_Rating :', len(Company_Rating))

Lenght of Company_Name : 30
Lenght of Jobs_Title : 30
Lenght of Job_Posted : 30
Lenght of Company_Rating : 18

(None, None)

In [37]:
#Jobs_Title of first 10 jobs       
Company_Name=Company_Name[0:10]
Jobs_Title=Jobs_Title[0:10]
Job_Posted=Job_Posted[0:10]
Company_Rating=Company_Rating[0:10]

In [38]:
Data_Scientist_Glassdoor=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Data_Scientist_Glassdoor jobs.
Data_Scientist_Glassdoor['Company Name']=Company_Name
Data_Scientist_Glassdoor['Jobs Title']=Jobs_Title
Data_Scientist_Glassdoor['Job Posted']=Job_Posted
Data_Scientist_Glassdoor['Company Rating']=Company_Rating
Data_Scientist_Glassdoor

,Company Name,Jobs Title,Job Posted,Company Rating
0,Biz2Credit Inc,Data Scientist,30d+,3.7
1,Adobe,Data Scientist,4d,4.4
2,Emerging India Group,Data Scientist,30d+,5.0
3,,Data Analytics Internship,1d,4.0
4,WishFin,Data Scientist,13d,4.3
5,Kronos Incorporated,Principal Data Scientist,2d,5.0
6,Dürr Somac GmbH,Machine Learning Engineer/ Data Scientist,30d+,3.0
7,Techlive,Data Scientist,30d+,4.4
8,xtLytics,Jr. Data Scientist,30d+,3.7
9,Microsoft,Data Scientist 2,30d+,3.0

# Question 5

Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [46]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Company_Name=[]
Number_of_salaries=[]
Average_Salary=[]
Salary=[]


#Jobs_Title of first 10 jobs data on the website
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
        Company_Name.append(i.text)

#Number_of_salaries of first 10 jobs data on the website
    for j in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
        Number_of_salaries.append(j.text.replace('\r\n','').replace('\n',''))

#Average_Salary of first 10 jobs data on the website
    for k in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
        Average_Salary.append(k.text.replace('\r\n','').replace('\n',''))
        

#Min_Salary & Max_Salary of first 10 jobs data on the website
Salary_Tags=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")
for l in Salary_Tags:
    salary=l.text
    Salary.append(salary.split('\n'))
Salary[0:10]

[['₹450K', '₹11,630K'],
 ['₹420K', '₹1,614K'],
 ['₹336K', '₹1,010K'],
 ['₹577K', '₹2,215K'],
 ['₹587K', '₹2,732K'],
 ['₹717K', '₹1,575K'],
 ['₹502K', '₹1,152K'],
 ['₹621K', '₹1,696K'],
 ['₹793K', '₹1,264K'],
 ['₹576K', '₹1,500K']]

In [47]:
#Length of the lists
print('Lenght of Company_Name :', len(Company_Name)), print('Lenght of Number_of_salaries :', len(Number_of_salaries)),
print('Lenght of Average_Salary :', len(Average_Salary))

Lenght of Company_Name : 20
Lenght of Number_of_salaries : 20
Lenght of Average_Salary : 20

In [49]:
#Creating dataframe for Salary list
DF=pd.DataFrame({})
DF['Salary']=Salary
print(DF.head(10))

              Salary
0  [₹450K, ₹11,630K]
1   [₹420K, ₹1,614K]
2   [₹336K, ₹1,010K]
3   [₹577K, ₹2,215K]
4   [₹587K, ₹2,732K]
5   [₹717K, ₹1,575K]
6   [₹502K, ₹1,152K]
7   [₹621K, ₹1,696K]
8   [₹793K, ₹1,264K]
9   [₹576K, ₹1,500K]

In [50]:
Glassdoor_Salary=pd.DataFrame({})

#Creating dataFrame to save the scraped data of Analyst jobs (job-title, job-location, company_name, experience_required)
Glassdoor_Salary['Company Name']=Company_Name
Glassdoor_Salary['Number of Salaries']=Number_of_salaries
Glassdoor_Salary['Average Salary']=Average_Salary
#Creating Columns for Minimum_Salary
Glassdoor_Salary['Min Salary']=DF['Salary'].str[:1]
Glassdoor_Salary['Min Salary'] = Glassdoor_Salary['Min Salary'].str.get(0)

#Creating Columns for Maximum_Salary
Glassdoor_Salary['Max Salary']=DF['Salary'].str[1:]
Glassdoor_Salary['Max Salary'] = Glassdoor_Salary['Max Salary'].str.get(0)
Glassdoor_Salary[0:10]

,Company Name,Number of Salaries,Average Salary,Min Salary,Max Salary
0,Delhivery,13 salaries,"₹ 12,64,182/yr",₹450K,"₹11,630K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,41,935/yr",₹420K,"₹1,614K"
2,Tata Consultancy Services,10 salaries,"₹ 5,99,668/yr",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055/yr",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040/yr",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114/yr",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374/yr",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792/yr",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143/yr",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989/yr",₹576K,"₹1,500K"

# Question 6

Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:Brand, Product Description, 
Price, Discount

In [52]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Brand_Name=[]
Product_Description=[]
Price=[]
Discount=[]


#Brand_Name of the sunglasses
for i in range(0, 3):
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand_Name.append(i.text)
        
#Product_Description of the sunglasses
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if j is not None:
            Product_Description.append(j.text)
        else:
            Product_Description('_')

#Price of of the sunglasses
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)

#Discount of of the sunglasses
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(k.text)
      
      
  

#selecting first 100
Brand_Name=Brand_Name[0:100]
Product_Description=Product_Description[0:100]
Price=Price[0:100]
Discount=Discount[0:100]


print('Brand_Name :', len(Brand_Name)), print('Product_Description :', len(Product_Description)),
print('Price :', len(Price)), print('Discount :', len(Discount))

Brand_Name : 100
Product_Description : 100
Price : 100
Discount : 100

(None, None)

In [53]:
Flipkart_Sunglass=pd.DataFrame({})
Flipkart_Sunglass['Brand Name']=Brand_Name
Flipkart_Sunglass['Price']=Price
Flipkart_Sunglass['Discount']=Discount
Flipkart_Sunglass['Product_Description']=Product_Description
Flipkart_Sunglass

,Brand Name,Price,Discount,Product_Description
0,Ayezent,₹212,71% off,UV Protection Rectangular Sunglasses (50)
1,Ayezent,₹267,86% off,UV Protection Retro Square Sunglasses (52)
2,Fastrack,₹596,25% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
3,Fastrack,₹599,33% off,UV Protection Aviator Sunglasses (Free Size)
4,Fastrack,₹499,37% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
...,...,...,...,...
95,Deixels,₹189,89% off,UV Protection Aviator Sunglasses (58)
96,Fastrack,₹599,33% off,"UV Protection, Polarized Wayfarer Sunglasses (56)"
97,NuVew,₹195,75% off,UV Protection Oval Sunglasses (56)
98,Fravy,₹269,82% off,UV Protection Shield Sunglasses (Free Size)
99,Royal Son,₹664,66% off,UV Protection Aviator Sunglasses (61)

# Question 7

Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [54]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Rating = []
Review_Summary = []
Full_Review = []

#Rating of the product
for i in range(0, 10):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_Summary.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_Review.append(k.text)       

print('Rating :', len(Rating)), print('Review_Summary :', len(Review_Summary)),
print('Full_Review :', len(Full_Review))

Rating : 100
Review_Summary : 100
Full_Review : 100

In [55]:
#Creating dataFrame to save the scraped data of Flipkart_Review
import pandas as pd
Flipkart_Review=pd.DataFrame({})
Flipkart_Review['Rating']=Rating
Flipkart_Review['Review Summary']=Review_Summary
Flipkart_Review['Full Review']=Full_Review
Flipkart_Review

,Rating,Review Summary,Full Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Worth every penny,It’s been almost a month since I have been usi...
98,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
99,4,Nice product,Awesome Phone. Slightly high price but worth. ...

# Question 8

Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [56]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists
Brand_Name=[]
Product_Description=[]
Price=[]
Discount=[]


#Brand_Name of the sneakers
for i in range(0, 3):
    for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand_Name.append(i.text)
        
#Product_Description of the sneakers
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        if j is not None:
            Product_Description.append(j.text)
        else:
            Product_Description('_')

#Price of of the sneakers
    for k in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        Price.append(k.text)

#Discount of of the sneakers
    for k in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        Discount.append(k.text)
        
#Brand_Name of first 10 jobs       
Brand_Name=Brand_Name[0:100]
Product_Description=Product_Description[0:100]
Price=Price[0:100]
Discount=Discount[0:100]


print('Brand_Name :', len(Brand_Name)), print('Product_Description :', len(Product_Description)),
print('Price :', len(Price)), print('Discount :', len(Discount))

Brand_Name : 100
Product_Description : 100
Price : 100
Discount : 100

(None, None)

In [57]:
Flipkart_Sneakers=pd.DataFrame({})
Flipkart_Sneakers['Brand Name']=Brand_Name
Flipkart_Sneakers['Price']=Price
Flipkart_Sneakers['Discount']=Discount
Flipkart_Sneakers['Product_Description']=Product_Description
Flipkart_Sneakers

,Brand Name,Price,Discount,Product_Description
0,Chevit,₹299,40% off,520 Fashion & Trendy Light Sneakers For Men
1,Chevit,₹699,61% off,"Combo Pack of 3 Sneakers Shoe, Casuals Sneaker..."
2,Chevit,₹474,76% off,Combo Pack of 4 Casual Sneakers With Sneakers ...
3,Chevit,₹564,68% off,Chevit Trendy Fashion Sports Combo Pack of 3 P...
4,Robbie jones,₹379,62% off,Combo Pack of 4 Latest Collection Stylish Casu...
...,...,...,...,...
95,Restinfoot,₹369,63% off,Sneakers For Men
96,D-SNEAKERZ,₹368,44% off,Men Boxer Sneakers For Men
97,ZOVIM,₹378,62% off,Sneakers For Men
98,Believe,₹446,55% off,Sneakers For Men
99,DOC Martin,₹999,68% off,Trendy Fashion Sports Combo Pack of 3 Pairs Ou...

# Question 9

Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as 
    shown in the below image

In [58]:

#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5312.0_10475.0_5312.0%20TO%2010475.0%2C5357.0_10505.0_5357.0%20TO%2010505.0"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Brand_Name=[]
Shoe_Description=[]
Price=[]


#Brand_Name of the sunglasses
for i in range(0, 3):
    for i in driver.find_elements_by_xpath("//h3[@class='product-brand']"):
        Brand_Name.append(i.text)
        
#Product_Description of the sunglasses
    for j in driver.find_elements_by_xpath("//h4[@class='product-product']"):
        Shoe_Description.append(j.text)

#Price of of the sunglasses
    for k in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']"):
        Price.append(k.text)

In [59]:
#Selecting first 100 shoe details       
Brand_Name=Brand_Name[0:100]
Shoe_Description=Shoe_Description[0:100]
Price=Price[0:100]

In [60]:
#Creating dataFrame to save the scraped data of Flipkart_Review
Myntra_Shoes=pd.DataFrame({})
Myntra_Shoes['Brand Name']=Brand_Name
Myntra_Shoes['Shoe_Description']=Shoe_Description
Myntra_Shoes['Price']=Price
Myntra_Shoes

          Brand Name                   Shoe_Description      Price
0               Puma     Men HYBRID NETFIT Running Shoe   Rs. 6599
1               Nike      Men RENEW RUN 2 Running Shoes   Rs. 5396
2               Nike                Women Running Shoes   Rs. 8396
3          Cole Haan        Men Wingtip Oxford Sneakers  Rs. 10399
4   ADIDAS Originals              Women Sonkei Sneakers   Rs. 6159
..               ...                                ...        ...
95      Kenneth Cole  Men Solid Leather Formal Slip-Ons   Rs. 7199
96            ADIDAS     Men ALPHATORSION Running Shoes   Rs. 7996
97    Tommy Hilfiger         Men Solid Leather Sneakers   Rs. 7343
98  ADIDAS Originals             Men Superstar Sneakers   Rs. 6396
99      Kenneth Cole   Men Solid Leather Formal Loafers   Rs. 7436

[100 rows x 3 columns]

# Question 10

Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type 
    filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [14]:
#connect to the web driver
driver=webdriver.Chrome(r'C:\Users\ADITI GUPTA\AppData\Roaming\chromedriver.exe')

#Specifying the url of the webpage
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611863643&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"

#Lets open the webpage through our web driver
driver.get(url)

#Lets create 4 empty lists

Title=[]
Avg_Ratings=[]
Price=[]


#Title of the Laptops
for i in range(0, 1):
    for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
        Title.append(i.text)
        
#Price of of the Laptops
    for k in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
        Price.append(k.text)

#ratings of laptop
    for j in driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]'):
        Avg_Ratings.append(j.get_attribute('aria-label'))

        
print('Rating :', len(Avg_Ratings)), print('Title :', len(Title)), print('Price :', len(Price))

Rating : 16
Title : 25
Price : 21

(None, None, None)

In [15]:
#Selecting first 10 Laptops     
Title=Title[0:10]
Avg_Ratings=Avg_Ratings[0:10]
Price=Price[0:10]

In [16]:
#Creating dataFrame to save the scraped data of Amazon Laptops
import pandas as pd
Amazon_laptops=pd.DataFrame({})
Amazon_laptops['Title']=Title
Amazon_laptops['Avg_Ratings']=Avg_Ratings
Amazon_laptops['Price']=Price
Amazon_laptops

,Title,Avg_Ratings,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.2 out of 5 stars,"50,999"
1,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,2.4 out of 5 stars,"1,97,200"
2,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,3.8 out of 5 stars,"87,029"
3,"MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...",4.2 out of 5 stars,"74,990"
4,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,3.5 out of 5 stars,"1,10,000"
5,(Renewed) Dell Latitude E6420 14 Inch Laptop (...,1.0 out of 5 stars,"75,493"
6,Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...,3.3 out of 5 stars,"95,290"
7,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,4.0 out of 5 stars,"72,805"
8,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,4.3 out of 5 stars,"38,889"
9,HP 14 10th Gen Intel Core i7 Ultra Thin and Li...,3.4 out of 5 stars,"1,06,352"